<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Library{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
  <header>
    <div class="container nav">
      <a class="brand" href="{{ url_for('index') }}">Library Management System Group 2 :D</a>
      <nav>
        <a href="{{ url_for('books') }}">Books</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('borrowers') }}">Borrowers</a>
      </nav>
    </div>
  </header>
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
